.formWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 60px;
  border-radius: 24px;
  background-color: #fff;

}

@media (max-width: 1300px) {
  .formWrapper {
    margin: 20px 20px 20px 20px;
  }
}

.formLabel {
  font-size: 24px;
  color: #000;
}

.inputCartoon {
  font-size: 20px;
  padding: 16px 18px;
  border: 1px solid #D3D3D3;
  color: #000;
  border-radius: 12px;
}
.inputCartoon:focus {
}
.inputCartoon[aria-invalid='true'] {
  border-color: #ef4444;
}
.inputCartoon::placeholder {
  color: #BABABA;
  opacity: 1;
}

.errorCartoon {
  color: #ef4444;
  font-size: 17px;
  font-weight: 700;
}

.buttonCartoon {

}
.buttonCartoon:hover, .buttonCartoon:focus {
}
.buttonCartoon:active {
}
.buttonCartoon:disabled {
} 